<app-toobar-component></app-toobar-component>

<section>

  <div class="skewed"></div>

</section>

<div class="container">

  <div class="content">

    <p>Cidade de São Paulo {{ data | date: 'dd/MM/yyyy' }}</p>

    <img src="../../../assets/images/ce8053e820ee34f7c8568c54d993486b.png" alt="imagem do clima">

    <p>18 °C</p>

    <p>Parcialmente Nublado</p>

  </div>

  <!-- Input Search -->
  <div class="search-input">

    <mat-form-field>

      <input type="text" matInput placeholder="Search" name= "search">

      <button matSuffix mat-button><mat-icon>search</mat-icon></button>

      {{search}}

    </mat-form-field>

  </div>

  <div class="city-informations">

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>82 <span> % </span></p>

        <p>Umidade</p>

      </div>

    </div>

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>21 <span> °C </span></p>

        <p>Temperatura</p>

      </div>

    </div>

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>82 <span> % </span></p>

        <p>Umidade</p>

      </div>

    </div>

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>82 <span> % </span></p>

        <p>Umidade</p>

      </div>

    </div>

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>82 <span> % </span></p>

        <p>Umidade</p>

      </div>

    </div>

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>82 <span> % </span></p>

        <p>Umidade</p>

      </div>

    </div>

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>82 <span> % </span></p>

        <p>Umidade</p>

      </div>

    </div>

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>82 <span> % </span></p>

        <p>Umidade</p>

      </div>

    </div>

    <div class="city-content">

      <img src="../../../assets/images/Desenho-Gota-PNG.png" alt="imagem de uma gota">

      <div>

        <p>82 <span> % </span></p>

        <p>Umidade</p>

      </div>

    </div>

  </div>

</div>
